# Es la que se expone a internet
VITE_API_URL_EXTERNAL=https://
# Es la que se expone a la red interna
VITE_API_URL_INTERNAL=http://
# Esta es solo para desarrollo local, no se debe usar en producción
VITE_API_URL_LOCAL=http://localhost:3000/api
# Para habilitar logs en consola, solo se debe usar en desarrollo
VITE_ENABLE_LOGS=false